<!-- Navbar -->
<nav class="navbar navbar-expand-lg m-0 p-0">
    <div class="container-fluid d-flex m-0 p-0">
        <div class="row m-0 p-0" id="navbarRow">

            <!-- Start of Navbar Content -->
            <div class="col-2 m-0 p-0" id="navbarCol">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Community
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-3 m-0 p-0" id="navbarCol">
                Display Options
            </div>

            <div class="col-2 m-0 p-0 justify-content-around" id="navbarCol">
                <a href="/">Trender Icon</a>
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </div>

            <div class="col-3 m-0 p-0" id="navbarCol">
                <form class="form-inline">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:transparent; border:none">
                            <i class="fas fa-search" style="color: white;"></i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Right Sidebar Button -->
            <div class="col-2 m-0 p-0" id="navbarCol" style="justify-content: space-around;">
                <!-- <a href="#">Account Icon</a> -->
                <button type="button" id="sidebarCollapse" class="btn" style="background-color:transparent; border:none">
                    <i class="fas fa-bars" style="float: right;"></i>
                </button>
                <!-- <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button> -->
            </div>
            <!-- End of Navbar Content -->

        </div>
    </div>
</nav>
<!-- End of Navbar -->