<!-- Navbar -->
<!-- <div> -->
    <nav class="navbar navbar-expand-lg m-0 p-0">
        <div class="container-fluid d-flex m-0 p-0">

            <div class="row m-0 p-0" id="navbarRow">
                <div class="col-2 m-0 p-0" id="navbarCol">
                    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" style="border: solid orange; width: 100px;"> -->
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                Trender
                            </a>
                        </li>
                    </ul>
                </div>
            
                <div class="col-2 m-0 p-0" id="navbarCol">
                    Subforum  Name
                </div>

                <div class="col-3 m-0 p-0" id="navbarCol">
                    Search Goes Here
                </div>
            
                <div class="col-3 m-0 p-0" id="navbarCol">
                    Content Options
                </div>
            
                <!-- Right Sidebar Button -->
                <div class="col-2 m-0 p-0" id="navbarCol" style="justify-content: space-around;">
                    <a href="#">My Account</a>
                    <button type="button" id="sidebarCollapse" class="btn" style="background-color:transparent; border:none">
                        <i class="fas fa-bars" style="float: right;"></i>
                    </button>
                    <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </div>

        </div>
    </nav>
<!-- </div> -->
<!-- End of Navbar -->