<!-- Navbar -->
<nav class="navbar navbar-expand-lg m-0 p-0">
    <div class="container-fluid m-0 p-0" style="display: block;">
        <!-- Start of Navbar Content -->
        <div class="row" id="navbarRow">
            <!-- Trender Icon -->
            <div class="col-3 pl-3" id="navbarCol">
                <a href="/">Trender Icon</a>
                <button class="btn btn-outline-success" type="submit" style="background-color:transparent; border:none">
                    <i class="fas fa-search" style="color: white;"></i>
                </button>
            </div>
            <!-- Search Bar -->
            <!-- <div class="col-4 align-items-center" id="navbarCol">
                <form class="form-inline" style="width: 80%;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:transparent; border:none">
                            <i class="fas fa-search" style="color: white;"></i>
                        </button>
                    </div>
                </form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:transparent; border:none">
                            <i class="fas fa-search" style="color: white;"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search" aria-label="searchBar" aria-describedby="Search Bar">
                </div>
            </div> -->
            <!-- Topic Display -->
            <div class="col-6 justify-content-around" id="navbarCol">
                <a href="#">HOT</a>
                <a href="#">NEW</a>
                <a href="#">TOP</a>
                <a href="#">FUNNY</a>
                <a href="#">SAD</a>
                <a href="#">SKETCHY</a>
                <a href="#">LAST 24 HOURS</a>
            </div>
            <!-- Login/Register Button -->
            <div class="col-3 justify-content-end" id="navbarCol">
                <% if (isLoggedIn) { %>
                User Profile
                <% } else { %>
                <!-- <button type="button" class="btn btn-primary" id="loginButton" onclick="document.getElementById('modalLogin').style.display='block'"
                        style="margin-right:2%;">Login</button>
                    <button type="button" class="btn btn-light mr-3" id="signupButton" onclick="document.getElementById('modalRegister').style.display='block'"
                        style="border:#4B8AE5;border-width:thin;color:#4B8AE5; margin-left:2%;">Register</button> -->

                <button type="button" class="btn btn-primary" id="loginButton" style="margin-right:2%;">
                    <a href="/login">Login</a></button>
                <button type="button" class="btn btn-light mr-3" id="registerButton" style="border:#4B8AE5;border-width:thin;color:#4B8AE5; margin-left:2%;">
                    <a href="/register">Register</a></button>
                <% } %>
            </div>
            <!-- End of Login/Register Buttons -->
        </div>
        <!-- End of Navbar Content -->
    </div>
</nav>
<!-- End of Navbar -->

<!-- Home Button -->
<a href="#">
    <button type="button" class="btn btn-primary floatButton1">
        <i class="fas fa-home my-float"></i>
    </button>
</a>
<!-- End of Home Button -->

<!-- Sidebar Button -->
<button type="button" id="sidebarCollapse" class="btn btn-primary floatButton2">
    <i class="fas fa-bars my-float"></i>
</button>
<div class="homeLabel1">
    <div class="homeText">Communities</div>
    <i class="fa fa-play label-arrow"></i>
</div>
<!-- End of Sidebar Button -->

<% include modals/modalLogin.ejs %>
<% include modals/modalRegister.ejs %>