<!-- Navbar -->
<!-- <div> -->
    <nav class="navbar navbar-expand-lg m-0 p-0">
        <div class="container-fluid m-0 p-0">

            <div class="col m-0 p-0">
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" style="border: solid orange; width: 100px;"> -->
                <ul class="nav navbar-nav mr-auto" style="border: solid red;">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><h5>Home</h5></a>
                    </li>
                </ul>
            </div>

            <div class="col m-0 p-0">
                <div style="color: white; border: solid orange; text-align: center;">Search Goes Here</div>
            </div>

            <div class="col m-0 p-0"></div>

            <!-- Right Sidebar Button -->
            <!-- <div class="col m-0 p-0"> -->
            <button type="button" id="sidebarCollapse" class="btn" style = "background-color:transparent; border:none">
                <i class="fas fa-bars"></i>
            </button>
            <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <!-- </div> -->

        </div>
    </nav>

    <div class="row" style="height: 80px;"></div>
<!-- </div> -->
<!-- End of Navbar -->