<!-- Sidebar  -->
<nav id="sidebar">

    <div class="sidebar-header">
        <h4></h4>
    </div>

    <div id="dismiss">
        <i class="fas fa-times"></i>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#categoryMenu" data-toggle="collapse" aria-expanded="false">Categories</a>
            <ul class="collapse list-unstyled" id="categoryMenu">
                <li>
                    <a href="/#">Category 1</a>
                </li>
                <li>
                    <a href="/#">Category 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#firstMenu" data-toggle="collapse" aria-expanded="false">January 2019</a>
            <ul class="collapse list-unstyled" id="firstMenu">
                <li>
                    <a href="/#">Article 1</a>
                </li>
                <li>
                    <a href="/#">Article 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#secondMenu" data-toggle="collapse" aria-expanded="false">December 2018</a>
            <ul class="collapse list-unstyled" id="secondMenu">
                <li>
                    <a href="/#">Article 1</a>
                </li>
                <li>
                    <a href="/#">Article 2</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End of Sidebar -->