<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/navbar.ejs %>
        <% include partials/sidebar.ejs %>
    </header>
    <% include partials/navLogin.ejs %>
    <% include partials/navSignup.ejs %>
    <div class="container-fluid m-0 p-0">
        <div class="row" style="height: 60px;"></div>
        <div class="row m-0 p-0">
            <div class="col-1 m-0 p-0"></div>
            <!-- Community Main Content-->
            <div class="col-6 m-0 p-0" id="communityMainContent">
                <% include partials/cards/communityTopicText.ejs %>
            </div>
             <!-- Community Side Content-->
            <div class="col-4 m-0 p-0" id="communitySideContent">
                <% include partials/cards/communityDetails.ejs %>
                <% include partials/cards/communityRules.ejs %>
                <% include partials/cards/communityModerators %>
            </div>
            <div class="col-1 m-0 p-0"></div>
        </div>

    </div>
    <% include partials/jsdefaults.ejs %>
</body>
</html>