<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/navbar.ejs %>
        <% include partials/sidebar.ejs %>
    </header>
    
    <div class="container-fluid m-0 p-0">
        <div class="row" style="height: 60px;"></div>
        <div class="row m-0 p-0" style="border: 1px solid red">
            <div class="col-1 m-0 p-0"></div>
            <!-- Community Main Content-->
            <div class="col-6 m-0 p-0" id="communityMainContent" style="border: 1px solid green">
                    <div class="card" id="topicCard">
                        <div class="row m-0 p-0">
                            <div class="col-1 m-0 p-0 card-side"></div>
                            <div class="col-11 m-0 p-0">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <a href="#">Posted by "User"</a>
                                        </div>
                                        <div class="col justify-content-end">
                                            <a href="#">Time or Date</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mx-0 p-0">Topic Title</h5>
                                    <h6 class="card-text">With supporting text below as a natural lead-in to additional content.</h6>
                                </div>
                                <div class="card-body m-2 p-0">
                                    <a href="#" class="btn btn-primary">Comment</a>
                                    <a href="#" class="btn btn-primary">Share</a>
                                    <a href="#" class="btn btn-primary">Save</a>
                                    <a href="#" class="btn btn-primary">Report</a>
                                    <a href="#" class="btn btn-primary">Collapse</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
             <!-- Community Side Content-->
            <div class="col-4 m-0 p-0" id="communitySideContent" style="border: 1px solid orange">
                <% include partials/cards/communityDetails.ejs %>
            </div>
            <div class="col-1 m-0 p-0"></div>
        </div>

    </div>
    <% include partials/jsdefaults.ejs %>
</body>
</html>