<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <% include partials/sidebar.ejs %>
    <% include partials/navbar.ejs %>

    <div class="container">

        <!-- Visualization for popular subs and searchwords -->
        <!-- <div class="row" id="popularVisual"></div> -->

        <!-- Main Content -->
        <div class="col-8">

            <!-- Mock-up Example -->
            <% include partials/topicCard.ejs %>

        </div>
        <!-- End of Main Content -->

        <!-- Side Content -->
        <div class="col-4">



        </div>
        <!-- End of Side Content -->

    </div>

    <% include partials/jsdefaults.ejs %>
</body>

</html>