<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <div class="container" style="background-color: midnightblue;">

        <!-- Visualization for popular subs and searchwords -->
        <div class="row" id="popularVisual">

        </div>

        <div class="row" style="background-color: darkgoldenrod"></div>

        <div class="row" style="background-color: midnightblue"></div>

        <div class="row" style="background-color: darkgoldenrod"></div>

        <div class="row" style="background-color: midnightblue"></div>

        <div class="row" style="background-color: darkgoldenrod"></div>

        <div class="row" style="background-color: midnightblue"></div>

    </div>

    <% include partials/jsdefaults.ejs %>
</body>

</html>