<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <% include partials/sidebar.ejs %>
    <% include partials/navbar.ejs %>
    
    <div class="container-fluid" style="border: 1px solid orange">
        <div class="row" style="height: 80px;"></div>
        <div class="row m-0 p-0">

            <!-- Visualization for popular subs and searchwords -->
            <!-- <div class="row" id="popularVisual"></div> -->

            <div class="col-1"></div>

            <!-- Main Content -->
            <div class="col-6 m-0" id="mainContent" style="border: 1px solid blue">

                <!-- Mock-up Example -->
                <% include partials/cards/topicText.ejs %>
                <% include partials/cards/topicLink.ejs %>
                <% include partials/cards/topicText.ejs %>
                <% include partials/cards/topicLink.ejs %>

            </div>
            <!-- End of Main Content -->
            
            <!-- Side Content -->
            <div class="col-4 m-0 p-0" id="sideContent" style="border: 1px solid red">

                <% include partials/cards/dashboard.ejs %>
                <% include partials/cards/trendingCommunity.ejs %>

            </div>
            <!-- End of Side Content -->

            <div class="col-1"></div>

        </div>
    </div>

    <% include partials/jsdefaults.ejs %>
</body>

</html>