<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <% include partials/sidebar.ejs %>
    <% include partials/navbar.ejs %>
    
    <div class="container-fluid">
        <div class="row m-0 p-0">

            <div class="col-1"></div>

            <!-- Main Content -->
            <div class="col m-0 p-0 mainContent" id="mainContent">

                <% if (topics.length > 0) { %>
                <% for (var i = 0; i < topics.length; i ++) { %>
                    <% var topic = topics[i].dataValues %>
                    <% include partials/cards/topicText.ejs %>
                <% } %>
                <% } %>

            </div>
            <!-- End of Main Content -->
            
            <!-- Side Content -->
            <div class="col-4 m-0 p-0" id="sideContent">

                <% if (topics.length > 0) { %>
                <% include partials/cards/dashboard.ejs %>
                <% include partials/cards/trendCom.ejs %>
                <% } %>

            </div>
            <!-- End of Side Content -->

            <div class="col-1"></div>

        </div>
    </div>

    <% include partials/cdn.ejs %>
    <% include partials/functions.ejs %>
</body>

</html>