<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>

    <form class="modal-content" action="/">
        <div class="imgcontainer">
            <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="#" alt="" class="avatar">
        </div>

        <div class="mcontainer">
            <div class="row">
                <label for="uname"><b>Username</b></label>
                <input class="form-control mr-sm-2" type="text" placeholder="Enter Username" name="uname" required>
            </div>
            <div class="row">
                <label for="psw"><b>Password</b></label>
                <input class="form-control mr-sm-2" type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </div>

        <div class="mcontainer" style="background-color:#f1f1f1">
            <div class="row">
                <div class="col"><button type="button" onclick="document.getElementById('loginModal').style.display='none'"
                        class="cancelbtn">Cancel</button></div>
                <div close="col"><span class="forgotusr"><a href="#">Forgot Username?</a></span></div>
                <div class="col"><span class="forgotpsw"><a href="#">Forgot Password?</a></span>></div>
            </div>
        </div>
    </form>
    
    <% include partials/jsdefaults.ejs %>
</body>

</html>