<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>

<body>
    <%= pageTitle %>
    <br>
    Hello

    <% include partials/cdn.ejs %>
    <% include partials/functions.ejs %>
</body>
</html>