<div class="card" id="communityDescription">
    <!-- Card Content-->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <!-- Card Title-->
            <div class="card-header">
                <h6 class="card-title m-0 p-0">
                    <% if (pageType == "community") { %>
                    <%= pageTitle.toUpperCase() %> COMMUNITY
                    <% } else if (pageType == "topic") { %>
                    <%= community.name.toUpperCase() %> COMMUNITY
                    <% } %>
                </h6>
            </div>
            <!-- End of Card Title-->
            <!-- Card Body-->
            <div class="card-body" id="communityDetailsBody">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0" id="communityName"></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col m-0 p-0 d-flex justify-content-center" id="communityFollowers">1000000 Followers</div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 m-2 p-0" id="communityDescription">
                        <% if (pageType == "community") { %>
                        <%= topic.community.dataValues.description %>
                        <% } else if (pageType == "topic") { %>
                        <%= community.description %>
                        <% } %>
                    </div>
                </div>
                <div class="row m-2">
                    <a href="#" class="btn btn-primary" style="width: 100%;">FOLLOW</a>
                </div>
                <div class="row m-2">
                    <a href="/createTopic" class="btn btn-primary" style="width: 100%;">DISCUSS A TOPIC</a>
                </div>
                <div class="row m-2">
                    <a href="/createCommunity" class="btn btn-primary" style="width: 100%;">START A COMMUNITY</a>
                </div>
            </div>
            <!-- End of Card Body-->
        </div>
    </div>
    <!-- End of Card Content-->
</div>