<div class="card" id="communityDeatails">
    <!-- Card Content-->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <!-- Card Title-->
            <div class="card-header">
                <h6 class="card-title m-0 p-0"><%= pageTitle.toUpperCase() %> COMMUNITY</h6>
            </div>
            <!-- End of Card Title-->
            <!-- Card Body-->
            <div class="card-body" id="communityDetailsBody">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0" id="communityName"></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col m-0 p-0 d-flex justify-content-center" id="communitySubscribers">1000000 Followers</div>
                    <!-- <div class="col m-2 p-0 d-flex justify-content-center" id="communitySubscribersOnline"><p>3000</p><br>Followers Online</div> -->
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 m-2 p-0" id="communityDetailsText">This is part belongs to the community details text.</div>
                </div>
                <div class="row m-2">
                    <a href="#" class="btn btn-primary" style="width: 100%;">SUBSCRIBE</a>
                </div>
                <div class="row m-2">
                    <a href="#" class="btn btn-primary" style="width: 100%;">DISCUSS A TOPIC</a>
                </div>
            </div>
            <!-- End of Card Body-->
        </div>
    </div>
    <!-- End of Card Content-->
</div>