<div class="card" id="communityDeatails">
    <!-- Card Content-->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <!-- Card Title-->
            <div class="card-header">
                <h6 class="card-title m-0 p-0">COMMUNITY DETAILS</h6>
            </div>
            <!-- End of Card Title-->
            <!-- Card Body-->
            <div class="card-body" id="communityDetailsBody">
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0" id="communityName"></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-2"></div>
                    <div class="col-4 m-0 p-0" id="communitySubscribers"># <br> Subscribers</div>
                    <div class="col-4 m-0 p-0" id="communitySubscribersOnline"># <br> Subscribers Online</div>
                    <div class="col-2"></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0" id="communityDetailsText">This is part belongs to the community details text.</div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0"><a class="btn" style="background-color: rgb(68, 127, 209); color: white; width:100%;"  href="#" role="button">SUBSCRIBE</a></div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0"><a class="btn" style="background-color: rgb(68, 127, 209); color: white; width:100%;"  href="#" role="button">Create Topic</a></div>
                </div>
            </div>
            <!-- End of Card Body-->
        </div>
    </div>
    <!-- End of Card Content-->
</div>