<div class="card commentCard">
    <div class="row m-0 p-0">
        <!-- Card Content -->
        <div class="col-11 m-0 p-0">
            <div class="commentHeader2">
                <div class="commentUsername">
                    <a href="/user/<%= comment.user.dataValues.username %>"><%= comment.user.dataValues.username %></a>
                </div>
                <div class="card-text pl-2 pr-2">&#9679</div>
                <div class="card-text"><%= commentTime %></div>
            </div>
            <div class="card-body commentText2 show" aria-expanded="true" id="titleID">
                <!-- <h6 class="card-text"></h6> -->
                <pre><%= comment.body %></pre>
            </div>
            <div class="card-body commentOptions2 show" aria-expanded="true" id="titleID">
                <!-- <div class="smallText commentButton2"><a href="#">Reply</a></div>
                <div class="smallText commentButton2"><a href="#">Share</a></div>
                <div class="smallText commentButton2"><a href="#">Save</a></div>
                <div class="smallText commentButton2"><a href="#">Report</a></div> -->
                <a href="#" class="commentButton2">
                    <div class="smallText">Reply</div>
                </a>
                <a href="#" class="commentButton2 ml-1">
                    <div class="smallText">Share</div>
                </a>
                <a href="#" class="commentButton2 ml-1">
                    <div class="smallText">Save</div>
                </a>
                <a href="#" class="commentButton2 ml-1">
                    <div class="smallText">Report</div>
                </a>
            </div>
        </div>
        <!-- End of Card Content -->
        <!-- Upvote/Downvote Sidebar -->
        <div class="col-1 card-side show" aria-expanded="true" id="titleID">
            <% if (isLoggedIn == true) { %>
            <div class="voteDiv pt-1">
                <div class="upvote" id=""></div>
            </div>
            <% } else { %>
            <div class="voteDiv pt-1">
            </div>
            <% } %>
            <div class="voteDiv">
                <div class="count" id="">1</div>
            </div>
            <% if (isLoggedIn == true) { %>
            <div class="voteDiv">
                <div class="downvote" id=""></div>
            </div>
            <% } else { %>
            <div class="voteDiv pt-1">
            </div>
            <% } %>
        </div>
        <!-- End of Upvote/Downvote Sidebar -->
    </div>
</div>