<div class="card" id="communityModerators">
    <!-- Card Content-->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <!-- Card Title-->
            <div class="card-header">
                <h6 class="card-title m-0 p-0">COMMUNITY MODERATORS</h6>
            </div>
            <!-- End of Card Title-->
            <!-- Card Body-->
            <div class="card-body" id="communityModeratorsBody">
                <div class="row moderators">
                    <div class="col">None</div>
                    <!-- <div class="col">Auto Moderator</div> -->
                </div>
            </div>
            <!-- End of Card Body-->
        </div>
    </div>
    <!-- End of Card Content-->
</div>