<div class="card" id="communityRules">
        <!-- Card Content-->
        <div class="row m-0 p-0">
            <div class="col-12 m-0 p-0">
                <!-- Card Title-->
                <div class="card-header">
                    <h6 class="card-title m-0 p-0">COMMUNITY RULES</h6>
                </div>
                <!-- End of Card Title-->
                <!-- Card Body-->
                <div class="card-body" id="communityDetailsBody">  
                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" onclick="toggledisplay()">1. Rule <div class="ruleDescription">Rule 1 descriptions</div></li>
                                <li class="list-group-item" onclick="toggledisplay()">2. Rule <div class="ruleDescription">Rule 2 descriptions</div></li>
                                <li class="list-group-item" onclick="toggledisplay()">3. Rule <div class="ruleDescription">Rule 3 descriptions</div></li>
                                <li class="list-group-item" onclick="toggledisplay()">4. Rule <div class="ruleDescription">Rule 4 descriptions</div></li>
                                <li class="list-group-item" onclick="toggledisplay()">5. Rule <div class="ruleDescription">Rule 5 descriptions</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End of Card Body-->
            </div>
        </div>
        <!-- End of Card Content-->
    </div>