<div class="card" id="communityRules">
    <!-- Card Content-->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <!-- Card Title-->
            <div class="card-header">
                <h6 class="card-title m-0 p-0">COMMUNITY RULES</h6>
            </div>
            <!-- End of Card Title-->
            <!-- Card Body-->
            <div class="card-body m-0 p-0" id="communityRulesBody">  
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" onclick="toggledisplay('ruleDescription1')">1. Rule<div id="ruleDescription1">Rule 1 descriptions</div></li>
                            <li class="list-group-item" onclick="toggledisplay('ruleDescription2')">2. Rule<div id="ruleDescription2">Rule 2 descriptions</div></li>
                            <li class="list-group-item" onclick="toggledisplay('ruleDescription3')">3. Rule <div id="ruleDescription3">Rule 3 descriptions</div></li>
                            <li class="list-group-item" onclick="toggledisplay('ruleDescription4')">4. Rule <div id="ruleDescription4">Rule 4 descriptions</div></li>
                            <li class="list-group-item" onclick="toggledisplay('ruleDescription5')">5. Rule <div id="ruleDescription5">Rule 5 descriptions</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of Card Body-->
        </div>
    </div>
    <!-- End of Card Content-->
</div>