<div class="card" id="communityRules">
    <!-- Card Content-->
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <!-- Card Title-->
            <div class="card-header">
                <h6 class="card-title m-0 p-0">COMMUNITY RULES</h6>
            </div>
            <!-- End of Card Title-->
            <!-- Card Body-->
            <div class="card-body m-0 p-0" id="communityRulesBody">  
                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" onclick="toggledisplay('ruleDescription1')">
                                <div id="ruleDescription">1. Anything goes.</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of Card Body-->
        </div>
    </div>
    <!-- End of Card Content-->
</div>