<div class="card" id="dashboardCard">
    <!-- Card Content -->
    <div class="col-12 m-0 p-0">
        <!-- Title -->
        <div class="card-header">
            <h6 class="card-title m-0 p-0">DASHBOARD</h6>
        </div>
        <!-- End of Title -->
        <!-- Body -->
        <div class="card-body" id="dashboardBody">
            <div class="row m-2">
                <a href="/community/<%= exploreCommunity %>" class="btn btn-primary" style="width: 100%;">EXPLORE</a>
            </div>
            <div class="row m-2">
                <a href="/createTopic" class="btn btn-primary" style="width: 100%;">DISCUSS A TOPIC</a>
            </div>
            <div class="row m-2">
                <a href="/createCommunity" class="btn btn-primary" style="width: 100%;">START A COMMUNITY</a>
            </div>
        </div>
        <!-- End of Body -->
    </div>
    <!-- End of Card Content -->
</div>