<div class="card submitCommentCard1 mt-4 mb-4 collapse" id="submitComment">
    <div class="card-body submitComment m-0 p-0">
        <form method="POST">
            <div class="form-group m-0 p-0">
                <textarea type="text" placeholder="What are your thoughts?" class="form-control" id="submitComment"
                    name="submitComment" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target=".submitCommentCard1">Cancel</button>
        </form>
    </div>
</div>

<!-- <div class="submitComment">
    <form style="border: solid orange; border-radius: 3%;">
        <div class="form-group m-0 p-0" style="border: solid red; border-radius: 3%">
            <label for="submitComment" class="submitCommentLabel">
                Comment as
                <%= user.username %>
            </label>
            <textarea type="text" placeholder="What are your thoughts?" class="form-control" id="submitComment" name="submitComment"
                rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
        <button type="button" class="btn btn-secondary pull-right"><a href="/">Cancel</a></button>
    </form>
</div> -->