<div class="card" id="topicCard">
    <div class="row m-0 p-0">
        <!-- Upvote/Downvote Sidebar -->
        <div class="col-1 m-0 p-0 card-side"></div>
        <!-- Card Content -->
        <div class="col-11 m-0 p-0">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <a href="#">User</a>
                    </div>
                    <div class="col justify-content-end">
                        <a href="#">Community</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row d-flex align-items-center" style="margin-bottom: 2%;">
                    <div class="col-10 m-0 p-0">
                        <h5 class="card-title m-0 p-0">Topic Title</h5>
                    </div>
                    <div class="col-2">
                        <a href="#" class="btn btn-primary">Source</a>
                    </div>
                </div>
                <img src="" alt="Image/Video if Available">
            </div>
            <div class="card-body m-2 p-0">
                <a href="#" class="btn btn-primary">Comment</a>
                <a href="#" class="btn btn-primary">Share</a>
                <a href="#" class="btn btn-primary">Save</a>
                <a href="#" class="btn btn-primary">Report</a>
                <a href="#" class="btn btn-primary">Collapse</a>
            </div>
        </div>
        <!-- End of Card Content -->
    </div>
</div>