<div class="card" id="topicCard">
    <div class="row m-0 p-0">
        <!-- Reactions Sidebar -->
        <!-- Card Content -->
        <div class="col-11 m-0 p-0">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <a href="#">
                            <h5 class="card-title m-0 p-0">Topic Title</h5>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#">Community</a>
                    </div>
                    <div class="col-1">
                        <button class="collapsible btn m-0 p-0" data-toggle="collapse" href="#titleID" style="background-color:transparent; border:none">
                            <span class="oi oi-chevron-bottom" style="color:white"></span>
                        </button>
                    </div>
                </div>
                <div class="row show" aria-expanded="true" id="titleID">
                    Posted by User
                </div>
            </div>
            <div class="card-body videoBody show" aria-expanded="true" id="titleID">
                <img src="" alt="Image/Video if Available" class="ml-2">
            </div>
            <div class="card-body commentBody show" aria-expanded="true" id="titleID">
                <a href="#" class="btn btn-primary ml-2">Comment</a>
                <a href="#" class="btn btn-primary">Share</a>
                <a href="#" class="btn btn-primary">Save</a>
                <a href="#" class="btn btn-primary">Report</a>
                <a href="#" class="btn btn-primary mr-2" style="float: right;">Source</a>
            </div>
        </div>
        <!-- End of Card Content -->
        <!-- Upvote/Downvote Sidebar -->
        <div class="col-1 card-side show" aria-expanded="true" id="titleID">
            <div class="upvote"></div>
            <p>9000</p>
            <div class="downvote"></div>
        </div>
        <!-- End of Upvote/Downvote Sidebar -->
    </div>
</div>

<!-- Upvote/Downvote Sidebar -->
<!-- <div class="col-1 card-side show" aria-expanded="true" id="titleID">
    <div class="arrow-up upvote"></div>
    <div class="arrow-down downvote"></div>
</div> -->
<!-- End of Upvote/Downvote Sidebar -->

<!-- Reactions Sidebar -->
<!-- <div class="col-1 card-side show" aria-expanded="true" id="titleID">
    <a href="#"><img src="/media/like.gif" alt="Like" class="reactionIcon"></a>
    <a href="#"><img src="/media/funny.gif" alt="Funny" class="reactionIcon"></a>
    <a href="#"><img src="/media/sad.gif" alt="Sad" class="reactionIcon"></a>
    <a href="#"><img src="/media/dislike.gif" alt="Dislike" class="reactionIcon"></a>
</div> -->
<!-- End of Reactions Sidebar -->