<div class="card" id="communityCard">
    <!-- Card Content -->
    <div class="col-12 m-0 p-0">
        <!-- Title -->
        <div class="card-header">
            <h6 class="card-title m-0 p-0">TRENDING COMMUNITIES</h6>
        </div>
        <!-- End of Title -->
        <!-- Body -->
        <% for (var i = 0; i < 5; i ++) { %>
            <div class="card-body communityBody" id="trendingCommunities<%= i %>">
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0">
                        COMMUNITY NAME
                        <p>NUMBER FOLLOWERS</p>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <a href="#" class="btn btn-primary">FOLLOW</a>
                    </div>
                </div>
            </div>
        <% } %>
        <!-- End of Body -->
    </div>
    <!-- End of Card Content -->
</div>