body {
    background-color: whitesmoke;
    margin:0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #3A66A7;
    color: white;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebarCollapse {
    color: white;
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #3A66A7;
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 4;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

/* .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
} */

#sidebar .sidebar-header {
    padding: 20px;
    background: #3A66A7;
    color: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #3A66A7;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3A66A7;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-right: 30px !important;
    background: #3A66A7;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #3A66A7 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    position: fixed;
    width: 100%;
    background-color: #3A66A7;
    color: white;
    z-index: 2;
}

#navbarRow {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbarCol {
    height: 100%;
    display: flex;
    align-items: center;
    /* margin-left: 2%;
    margin-right: 2%; */
    padding: 0;
    /* border: solid red; */
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #4B8AE5;
    margin: 40px 0;
}

/* ---------------------------------------------------
    FLOATING BUTTONS
----------------------------------------------------- */

.label-container {
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text {
	color:#FFF;
	background: #B1C9EF;
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow {
	display:table-cell;
	vertical-align:middle;
	color:#B1C9EF;
	opacity:0.5;
}

.floatButton1, .floatButton2 {
	position:fixed;
	width:60px;
	height:60px;
	right:30px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 2;
}

.floatButton1 {
	bottom:100px;
}

.floatButton2 {
	bottom:30px;
}

.my-float {
	font-size:24px;
}

button.floatButton1 + div.label-container1 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

button.floatButton1:hover + div.label-container1 {
  visibility: visible;
  opacity: 1;
}

/* ---------------------------------------------------
    MAIN CONTENT
----------------------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    z-index: 1;
    /* border: solid orange; */
}

.row {
    display: flex;
    height: 10%;
    /* border: solid blue; */
    margin: 0;
    padding: 0;
}

.col {
    display: flex;
    height: auto;
    /* border: solid green; */
    width: auto;
    margin: 0;
    padding: 0;
}

#topicCard {
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid #DDDDDD;
    border-width: thin;
}

#dashboardCard {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid #DDDDDD;
    border-width: thin;
}

#communityCard {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid #DDDDDD;
    border-width: thin;
}

.communityBody {
    margin-bottom: 2%;
    padding: 0;
    padding-top: 2%;
    padding-left: 5%;
    /* border-bottom: solid #DDDDDD; */
    /* border-width: thin; */
}

.card {
    filter: drop-shadow(0 0 0.3rem grey);
    /* min-height: 220px; */
    /* border: solid green; */
}
.card-header {
    color: white; 
    background-color: #4B8AE5;
    height: auto;
    min-height: 30%;
    /* border: solid orange; */
}

.card-body {
    /* display: inline-block; */
    width: 100%;
    /* border: solid orange; */
}

.videoBody {
    height: auto;
    /* min-height: 50%; */
}

.textBody {
    height: auto;
    /* border: solid red; */
}

.commentBody {
    height: auto;
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9E8FB;
    margin: 0;
    padding: 0;
    /* border: solid red; */
}

.reactionIcon {
    width: 3vw;
    /* margin: auto; */
}

/* h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
} */

p {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.0em;
    margin: auto;
    /* overflow: hidden; */
    /* border: solid orange; */
}

.upvote {
    /* color: #878889; */
    display: flex;
    align-items: baseline;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #878889;
    cursor: pointer;
    margin: auto;
    margin-bottom: 0%;
}

.downvote {
    /* color: #878889; */
    display: flex;
    align-items: initial;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #878889;
    cursor: pointer;
    margin: auto;
    margin-top: 0;
}

.upvote.on {
    border-bottom: 18px solid orange;
}

.downvote.on {
    border-top: 18px solid mediumslateblue;
}

.count {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.0em;
    margin: auto;
}

/* .upvote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 -25px;
}  

.downvote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 -25px;
}   */

/* ---------------------------------------------------
    POPULAR SUBS VISUAL
----------------------------------------------------- */

.popularVisual {
    border: solid blue;
}

.row {
    height: 10%;
}

/* -----------------------------------------------------  
Community Page 
--------------------------------------------------------*/

#communityDeatails {
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid #DDDDDD;
    border-width: thin;
}
#communityRules{
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid #DDDDDD;
    border-width: thin;
}
#communityModerators{
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid #DDDDDD;
    border-width: thin;
}
.moderators{
    margin-bottom: 2%;
    margin-top: 2%;
}
#communityModeratorsBody{
    padding-left: 3%;
    padding-top: 0;
    padding-bottom: 0;
}
#ruleDescription1{
    display: none;
}
#ruleDescription2{
    display: none;
}
#ruleDescription3{
    display: none;
}
#ruleDescription4{
    display: none;
}
#ruleDescription5{
    display: none;
}

/* --------------------------------------------
 Collapsible Button for Cards
 ---------------------------------------------*/



/* --------------------------------------------
 Media
 ---------------------------------------------*/

/* Videos */
#myVideo {
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
  }
#loginOverlay {
    opacity:    0.3; 
    background: rgb(1, 27, 66); 
    width:      100%;
    height:     100%; 
    z-index:    2;
    top:        0; 
    left:       0; 
    position:   absolute; 
  }


/* -------------------------------------------- */
.colorPalette {
    color: #D9E8FB;
    color: #FEFEFE;
    color: #4B8AE5;
    color: #D0D0D0;
    color: #878889;
    color: #B1C9EF;
}

/* ---------------------------------------------
    MODAL LOGIN/REGISTER
-----------------------------------------------*/
/* Center the image and position the close button */
/* Extra styles for the cancel button */

/* #loginPage {
    height: 100%;
    width: 100%;
}

#loginModal{
    background-color: #4B8AE5;
    color: white;
    filter: drop-shadow(0 0 0.3rem rgb(30, 69, 177));
} */

/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
} */
  
/* .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
img.logo {
    width: 40%;
    border-radius: 50%;
}
  
.mcontainer {
    padding: 16px;
}

.mcontainer.row{
    padding-top: 2px;
} */

.loginRow {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid orange;
}

span.forgotpsw {
    float: right;
    padding-top:2px;
}
  
span.forgotusr {
    float: right;
}
  

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* margin-top: 50%;
    margin-left: 50%; */
    /* padding-top: 60px; */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    width: 40%;
    position: relative;
    top: 20%;
    left: 0;
    margin: auto;
    border: 1px solid #888;
    z-index: 3;
}
  
  /* Close Button (x) */
.close {
    color: black;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
}
  
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.forgotpsw {
       display: block;
       float: none;
    }
    span.forgotusr {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}